body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5% 10%;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

code, pre {
    background-color: #e2e2e2;
    padding: 5px 3px;
    font-size: 15px;
}

pre {
    max-width: 80%;
    white-space: nowrap;
    overflow: auto;
    overflow-x: scroll;
}

pre span {
    color: #22c6c0;
}

pre i {
    color: darkgray;
}